header{
    background-color: black;

}
.first_col{
    background-color: teal;
 
    
}
.second_col{
    background-color: tomato;
   
}
.index_container{
padding-top: 5rem;
padding-bottom: 5rem;
}
.index_footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}